* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #5cdb95;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.box {
    position: absolute;
    bottom: -100px;
    background: #f2f2f2;
    opacity: 0.6;
    animation: animate 15s infinite ease;
}
.box:nth-child(1) {
    width: 75px;
    height: 75px;
    left: 7%;
    animation-delay: 1s;
}
.box:nth-child(2) {
    width: 80px;
    height: 80px;
    left: 20%;
    animation-delay: 5s;
}
.box:nth-child(3) {
    width: 62px;
    height: 62px;
    left: 40%;
    animation-delay: 9s;
}
.box:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 50%;
    animation-delay: 2s;
}
.box:nth-child(5) {
    width: 60px;
    height: 60px;
    left: 27%;
    animation-delay: 10s;
}
.box:nth-child(6) {
    width: 55px;
    height: 55px;
    left: 65%;
    animation-delay: 5s;
}
.box:nth-child(7) {
    width: 70px;
    height: 70px;
    left: 80%;
    animation-delay: 9s;
}
.box:nth-child(8) {
    width: 90px;
    height: 90px;
    left: 75%;
    animation-delay: 3s;
}
.box:nth-child(9) {
    width: 48px;
    height: 48px;
    left: 5%;
    animation-delay: 9s;
}
@keyframes animate{
    0%{
        bottom: -100px;
        transform: translateX(0);
    }
    50%{
        transform: translateX(150px);
    }
    100%{
        bottom: 1000px;
        transform: translateX(-300px);
    }
}

body, .quote-input, .reload-button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    background-color: #edf5e1;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: #edf5e1;
    font-weight: bold;
}

.score {
    position: absolute;
    top: 2rem;
    left: 0.5rem;
    font-size: 28px;
    color: #edf5e1;
    font-weight: lighter;
    padding: 20px;
    margin: 5px;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    background-color: transparent;
    border: 2px solid #D6E8BB;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.quote-input.editing {
    pointer-events: none;
    opacity: 0.6;
}

.reload-button {
    display: inline-block;
    border-radius: 10px;
    background-color: transparent; 
    border: none;
    color: #edf5e1;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 180px;
    transition: all 0.2s;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    top: 2rem;
    right: 0.5rem;
    box-shadow: inset 300px 0 0 0 0 #edf5e1;
    transition: ease-out 0.2s;
}
  
.reload-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.reload-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.reload-button:hover {
    box-shadow: inset 300px 0 0 0 #edf5e1;
    text-shadow: transparent;
    color: #5cdb95;
}

.reload-button:hover span {
    padding-right: 25px;
}
  
.reload-button:hover span:after {
    opacity: 1;
    right: 0;
}
.quote-input:focus {
    border-color: black;
}

.playpause {
    width: 30px;
    height: 30px;
    padding: 20px;
    top: 6rem;
    vertical-align: middle;
    margin: 5px;
    position: fixed;
    background: #edf5e1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    clip-path: polygon(
        0 0,
        40% 0,
        40% 100%,
        60% 100%,
        60% 0,
        100% 0,
        100% 100%,
        0 100%
    );
}

.playpause.playing {
    clip-path: polygon(
        0 0,
        50% 25%,
        50% 75%,
        50% 75%,
        50% 25%,
        100% 50%,
        100% 50%,
        0 100%
    );
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}